* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.insereNovaNota-campo:focus ,
.insereNovaNota-envia:focus {
	outline: none;
}
/*MENU*/

.menu {
	background-color: rgba(0,0,0,0.1);
	padding: 10px 3px;
	letter-spacing: 3px;
}

.menu span{
	font-size: 17px;
	font-weight: lighter;
}

.menu-title {
	font-size: 26px;
	color: #fff;
	text-align: center;
}

/*INSERE*/
.insereNovaNota {
	font-size: 1rem;
	text-align: center;
}

.caixaEnvia {
	box-sizing: border-box;
	background: #fff;
	height: 2.6em;
	margin: 1em auto;
	max-width: 28em;
	width: 100%;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.22);
}

.insereNovaNota-campo {
	box-sizing: border-box;
	border: none;
	font-size: 1.2em;
	height: 2.1em;
	margin: 0 auto;
	max-width: 200em;
	padding: 8px;
	resize: none;
	width: 78%;
}

.insereNovaNota-envia {
	background: #fff;
	border: none;
	cursor: pointer;
	display: inline-block;
	margin: 4px 0;
	padding: .4em .5em;
	font-size: 1em;
	vertical-align: top;
}

/*LISTA*/

.mural {
	box-sizing: border-box;
	margin: 30px auto;
	max-width: 50em;

	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.55);
}

ul li {
	background: #f9f9f9;
	cursor: pointer;
	font-size: 18px;
	list-style: none;
	padding: 12px 8px 12px 40px;
	position: relative;
	transition: 0.2s;

	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #eee; 
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    height: 15px;
    left: 16px;
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    width: 7px;
}

.close {
    padding: 12px 16px 12px 16px;
    position: absolute;
    right: 0;
    top: 0;
}

.close:hover {
    background-color: #f44336;
    color: #fff;
}

.noTaref {
	color: rgba(0,0,0,0.55);
	display: none;
	font-size: 22px; 
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
}

@media (min-width: 750px) {
	/*HEADER*/
	.menu span{
		font-size: 27px;
	}

	.menu-title {
		font-size: 32px;
	}
	/*INSERE*/
	.caixaEnvia {
		max-width: 30em;
	}
	.insereNovaNota-campo {
		max-width: 21.5em;
	}

	/*NOTA*/
	.nota {
		max-width: 80%;
		padding: 3px 0 6px 15px;
	}
	.nota + .nota {
		margin-top: 1.5em;
	}
	.nota-conteudo {
		font-size: 20px;
		font-weight: 500;
		letter-spacing: .5px;
		width: 28em;
		vertical-align: top;
	}
	.botaoCheck-img, .botaoClose-img {
		height: 23px;
		width: 22px;
	}
	.botaoRemove, .botaoCheck {
		margin: 2px 0 0 9px;
	}
}